.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding-right: 30px;
}

.nav-items > ul > li {
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
}

.logo-container {
    padding-left: 30px;
}

.logo {
    width: 100px;
}

/* body styling */

.body {
    margin-top: 20px;
    border: 1px solid gray;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.res-card{
    padding: 2px;
    width: 200px;
    /* background-color: lightgrey; */
    background: linear-gradient(to right, #eee, #fafafa 50%, #eee);

    margin: 5px;
    height: 350px;
    
}

.res-card:hover{
    border: 1px solid red;
}

.res-card-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.item-img{
    width: 95%;
    height :35%;
    
}

.loginBtn{
    border: solid 1px black;
    border-radius: 10px;
    width: 60px;
}

.error-page{
    color: rgb(255, 58, 23);
    font-weight: bold;
}

.shimmer-card{
    height: 300px;
    width: 200px;
    padding: 2px;
    margin: 5px;
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
}

.user-info{
    border: solid 1px black;
}